body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #e0d4d4;
    color: #aa4242;
    border: none;
    cursor: pointer;
  }
  
  #greetingMessage {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
  }